header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/3.png);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
/*.judy{
    width: 50px;
    height:50px;
    float: left;
    margin:auto;
}*/

h1{
    font-size: 20px;
    font-weight: 5px;
    color:#fff;
}
.wrapper{
    text-align: center;
    margin-top: 250px;
}
.nav{
    overflow: hidden;
}
.nav a {
    float: right;
    display: block;
    color:  #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
a{
    text-decoration: none;
}
h4{
  top:-0;
  left: 0;
  position:relative;
 
  /*text-transform: uppercase;*/
 /* color: white;*/
}
button{
    /*border-radius: 50px;
    background-color: orange;
    font-size: 2em !important;
    line-height: 0.9em !important;
    padding-left: 3em !important;
    text-align: center;*/
    background-color:#f05f40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
    font-weight: 4em;
}
#sue{
  width: 100%;
  height: 200px;
  background-color: tomato;
  margin-bottom: 1px;  
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-top:-18px;
  
}
#about{

    width: 100%;
    background-color:rgba(0,0,255,0.1);
    height: 1200px;
    color: purple;
    margin-bottom: 100px;
   
}
h1{
  text-align: center;
  margin-top:20px;
}
.suu{
 /* width: 800px;*/
  height: 200px;
  padding: 15px;
  margin:0 auto;

}
.judith{
  width: 100%;
  height: 200px;
  margin-bottom: 280px;
  padding: 15px;
  margin:0 auto;

}
.fatma{
  margin-top: 50px;
  margin-left: 300px;
  width: 200px;
  font-size: 20px;
  float:left;
  padding:10px;
}
.rehema{
  margin-bottom: 50px;
  margin-top:30px;
  margin-right: 300px;
  width: 200px;
  font-size: 20px;
  float:right;
  padding:10px;
}
.citizen{
  width: 100%;
  height: 500px;
  background-color: rgba(0,0,255,0.1);;
  margin-top:250px;
}
img{
    float: left;
}
.eve{
  text-align: 'justify';
  width:[width of img];
}
.kanini img{
  border-radius: 2px;
}
#products{
    background-color:#fff;
    height: 900px;
    color: black;
    margin-top: 200px;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.ndanu:hover .image {
  opacity: 0.3;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.ndanu:hover .middle {
  opacity: 1;
}
.text {
  background-color: orange;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/*wangila*/
.wangila:hover .image{
   opacity: 0.3;
}
.wangila:hover .middle{
  opacity: 1;

}
.lodipo:hover .image{
   opacity: 0.3;
}
.lodipo:hover .middle{
  opacity: 1;

}
.jamal:hover .image{
   opacity: 0.3;
}
.jamal:hover .middle{
  opacity: 1;

}
.mine:hover .image{
   opacity: 0.3;
}
.mine:hover .middle{
  opacity: 1;

}
.njiwa:hover .image{
   opacity: 0.3;
}
.njiwa:hover .middle{
  opacity: 1;

}








































.copy{
  color:#fff;
  height: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
 }
 .fa-facebook{
  color:black;
  font-size: 40px;
  margin-left: 50px;
  width: 20px;
  height:20px;
  /*  border:2px solid #f05f40;*/
    margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  border-radius: 60%;
  line-height: 25px;
  text-align: center;
 
 }
.fa-twitter{
  color:black;
  font-size: 40px;
  margin-left: 50px;
  width: 20px;
  height:20px;
  /*border:2px solid #f05f40;*/
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  border-radius: 60%;
  line-height: 25px;
  text-align: center;
 }
 .fa-youtube{
  color:black;
  font-size: 40px;
  margin-left: 50px;
  width: 20px;
  height:20px;
  /*border:2px solid #f05f40;*/
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  border-radius: 60%;
  line-height: 25px;
  text-align: center;
 }
 .fa-instagram{
  color:black;
  font-size: 40px;
  margin-left: 50px;
  width: 20px;
  height:20px;
  /*border:2px solid #f05f40;*/
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  border-radius: 60%;
  line-height: 25px;
  text-align: center;
 
 }
 
 
 hr{
  margin:0 auto;
  width:70%;
 }
 .foot{
  color:#fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
 }
 footer{
  background-color: tomato;
  min-height:220px;
  margin-bottom: 0px;
 }
 .copy{
  text-align: center;
  padding-top:20px;
 }
